body {
	padding-top: 100px;
	padding-bottom: 20px;
	font-family: 'Karla', Helvetica, Arial, serif;
	font-size: 12pt;
	background-color: #d5d6d6
}

.puzzle {
	height: 300px;
	width: 300px;
	margin-top: 20px;
}

.logo {
	height: 64px;
	width: 64px;
}
.navbar-fixed-top {
	font-family: 'Karla';
	background-color: #d5d6d6
}
.navbar-brand {
	/*font-family: 'Nova Square', cursive;*/
	font-family: 'Karla', cursive;
	font-size: 25pt;
	text-shadow: 4px 4px 4px #aaa;
}
.intro-marketing {
	font-family: 'Karla';
	background-color: #d5d6d6
	font-color: #fefefe;
	padding-top: 3em;
	padding-bottom: 3em;
}

.intro-marketing-box {
	font-family: 'Karla';
	background-color: #fafafa;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.resaltat {
	background-color: #fafafa;
}

h1 {
	font-family: 'Karla';
	font-size: 25pt;
}

h2 {
	font-family: 'Karla';
	font-size: 18pt;
}
p {
	font-family: 'Karla';
	font-size: 12pt;
}
.intro-marketing-box h1 {
	color: #fefefe;
}

