body {
  padding-top: 100px;
  padding-bottom: 20px;
}

.puzzle {
	height: 300px;
	width: 300px;
	margin-top: 20px;
}

.logo {
	height: 64px;
	width: 64px;
}

.navbar-brand {
	font-family: 'Nova Square', cursive;
	font-size: 25pt;
}