body {
	padding-top: 100px;
	padding-bottom: 20px;
	font-family: 'Karla', Helvetica, Arial, serif;
	background-color: #dbd4d0;
}

.puzzle {
	height: 300px;
	width: 300px;
	margin-top: 20px;
}

.logo {
	height: 64px;
	width: 64px;
}
.navbar-fixed-top {
	font-family: 'Karla';
	background-color: #dbd4d0;
}
.navbar-brand {
	/*font-family: 'Nova Square', cursive;*/
	font-family: 'Karla', cursive;
	font-size: 25pt;
	text-shadow: 4px 4px 4px #aaa;
}
.intro-marketing {
	font-family: 'Karla';
	background-color: #dbd4d0;
	padding-bottom: 3em;
}

.intro-marketing-box {
	font-family: 'Karla';
	padding-top: 3em;
}

.resaltat {
	background-color: #ffffff;
}

h1 {
	font-family: 'Karla';
}

p {
	font-family: 'Karla';
}
